body {
    font-family: sans-serif;
    background-color: #aac;
}

.finished {
    font-style: italic;
    color: #448844;
}

.started {
    font-weight: bold;
    color: #0000ff;
}

.rolling_back {
    font-weight: bold;
    color: #ff0000;
}

.rolled_back {
    font-style: italic;
    color: #ff7700;
}

.aborting {
    font-weight: bold;
    color: #ff0000;
}

#header, #content, #footer, #flash {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
}

#header {
    padding: 10px 25px 0;
    border: 1px solid #444;
    background-color: #fff;
}

#logo {
  position: relative;
  top: 6px;
  left: -12px;
  float: left;
  width: 65px;
  height: 46px;
}

#content {
    border: 1px solid #444;
    border-top: none;
    background-color: #eef;
    padding-top: 1px;
}

#footer {
    padding-top: 1px;
    font-size: 10px;
    text-align: center;
}

#content > ul > li {
    list-style: none;
}

li {
    padding-bottom: 2px;
}

#flash {
    background-color: #ccf;
}

.signal {
    color: #ff0000;
    font-size: large;
    font-weight: bold;
    padding: 0 5px;
}

.new-rollout-button {
    font-weight: bold;
    color: blue;
}
