.finished {
    font-style: italic;
    color: #448844;
}

.started {
    font-weight: bold;
    color: #0000ff;
}

.rolling_back {
    font-weight: bold;
    color: #ff0000;
}

.rolled_back {
    font-style: italic;
    color: #ff7700;
}

.aborting {
    font-weight: bold;
    color: #ff0000;
}

#header {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 10px 20px 10px;
}

#content {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#flash {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.abort {
    color: #ff0000;
    font-size: x-large;
    font-weight: bold;
}
