<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %}Kettle{% endblock %}</title>
    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href ="{{ url_for('static', filename='style.css') }}" media="screen" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
        <script src="{{ url_for('static', filename='static.js') }}"></script>
    {% endblock %}
    </head>
    <body>
        <a href="{{ url_for('index') }}" style="text-decoration: none; color: #3399ff">
            <div id="header">
                <img id="logo" src="{{ url_for('static', filename='kettle.gif') }}"/>
                <h2>Kettle</h2>
            </div>
        </a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash">
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% endwith %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <p>Powered by: coffee, bacon, sausages, coke, more coffee, sprite, mountain dew, more mountain dew, noms</p>
        </div>
    </body>
</html>
