{% extends "base.html" %}

{% block head %}
{{ super() }}
{% if rollout.rollout_start_dt and not (rollout.rollout_finish_dt or rollout.rollback_start_dt) %}
<script type="text/javascript">
    var refreshInterval;

    function clearRefresh(){
      clearInterval(refreshInterval);
      return false;
    }

    function refreshContentInner() {
        $.get(
            window.location.toString(),
            function (data, textStatus, jqXHR) {
                $("#content-inner").replaceWith($("#content-inner", data));
                $("#rollout-title i.fa").show();
                if ($(".status").is(".finished, .not_started, .rolled_back")){
                  $("#rollout-title i.fa").hide();
                  clearRefresh();
                }
            })
    }

    $(function () {
        refreshInterval = setInterval(refreshContentInner, {{ config['ROLLOUT_REFRESH_TIMEOUT'] }});
    });
</script>
{% endif %}
<script type="text/javascript">
    function renderEngineeringChecklistIframe() {
        $("#checklist").replaceWith(
            '<iframe src="{{ config['CHECKLIST_URL'] }}{{ rollout.id }}"'
                   + 'width="100%"'
                   + 'height="100%"'
                   + 'frameBorder="0"'
                   + 'seamless="seamless"></iframe>'
        );
    }
</script>
{% endblock %}

{% block content %}
    {% if config['CHECKLIST_URL'] %}
    <div id="checklist"{% if config['CHECKLIST_HEIGHT'] %} style="height: {{ config['CHECKLIST_HEIGHT'] }}px"{% endif %}>
      <img src="data:image/png;base64,{{ config['CHECKLIST_CLICKTHROUGH_IMAGE_BASE64'] }}"
           width="100%"
           height="100%"
           onclick="renderEngineeringChecklistIframe()">
    </div>
    {% endif %}
    <h2 id="rollout-title"><i style="display: none" class="fa fa-spinner fa-spin"></i> Rollout {{ rollout.id }}</h2>
    <div id="content-inner">
    {% if not (rollout.rollout_start_dt or rollout.rollback_start_dt) %}
    <a href="{{ url_for('rollout_edit', rollout_id=rollout.id) }}">Edit</a>
    {% endif %}
    {% if rollout.status() not in ('not_started', 'finished', 'rolled_back') %}
        <p>
            {% for sig_url, sig_label, sig_descr in available_signals(rollout.id) %}
                <a href="{{ sig_url }}" class="signal" title="{{ sig_descr }}">{{ sig_label }}</a>
            {% else %}
                No signals available
            {% endfor %}
        </p>
    <p><a href="#" onclick="clearRefresh();">Stop Autorefresh</a></p>
    {% endif %}
    <h3>Info</h3>
    {% if rollout.info_list %}
    <ul>
        {% for info in rollout.info_list %}
            <li>
            {{ info|safe }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul>
        <li>
        Status: {{ rollout.friendly_status_html()|safe}}
        </li>
    </ul>
    <ul>
        <li>
        Rollout: {{ rollout.rollout_friendly_status() }}
        </li>
        <li>
        Rollback: {{ rollout.rollback_friendly_status() }}
        </li>
    </ul>
    <ul>
        </li>
        {% if rollout.rollout_start_dt %}
        <li>
        <a href="{{ url_for('log_view', rollout_id=rollout.id, args='rollout') }}">Rollout log</a>
        </li>
        {% endif %}
        {% if rollout.rollback_start_dt %}
        <li>
        <a href="{{ url_for('log_view', rollout_id=rollout.id, args='rollback') }}">Rollback log</a>
        </li>
        {% endif %}
    </ul>
    {% if rollout.root_task %}
        <h3>Tasks</h3>
        <p style="display: none;">
            {{ rollout.config }}
        </p>
        <div id="tasks">
            {{ rollout.root_task.friendly_html()|safe }}
        </div>
    {% endif %}
    </div>
{% endblock %}
