{% extends "base.html" %}

{% block head %}
{{ super() }}
{% if rollout.rollout_start_dt and not (rollout.rollout_finish_dt or rollout.rollback_start_dt) %}
<script type="text/JavaScript">
    window.auto_refresh = true;
    function auto_refresh_fn(){
        if (window.auto_refresh == true){
            location.reload(true);
        }
    };
    setTimeout("auto_refresh_fn()", 1000);

</script>
{% endif %}
{% endblock %}

{% block content %}
    <h2>Rollout {{ rollout.id }}</h2>
    {% if not (rollout.rollout_start_dt or rollout.rollback_start_dt) %}
    <a href="{{ url_for('rollout_edit', rollout_id=rollout.id) }}">Edit</a>
    {% endif %}
    {% if rollout.status() not in ('not_started', 'finished', 'rolled_back') %}
        <p>
            {% for sig_url, sig_label, sig_descr in available_signals(rollout.id) %}
                <a href="{{ sig_url }}" class="signal" title="{{ sig_descr }}">{{ sig_label }}</a>
            {% else %}
                No signals available
            {% endfor %}
        </p>
    <p><a href="" onclick="window.auto_refresh=false; return false;">Stop Autorefresh</a></p>
    {% endif %}
    <h3>Info</h3>
    {% if rollout.info_list %}
    <ul>
        {% for info in rollout.info_list %}
            <li>
            {{ info|safe }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul>
        <li>
        Status: {{ rollout.friendly_status_html()|safe}}
        </li>
    </ul>
    <ul>
        <li>
        Rollout: {{ rollout.rollout_friendly_status() }}
        </li>
        <li>
        Rollback: {{ rollout.rollback_friendly_status() }}
        </li>
    </ul>
    <ul>
        </li>
        {% if rollout.rollout_start_dt %}
        <li>
        <a href="{{ url_for('log_view', rollout_id=rollout.id, args='rollout') }}">Rollout log</a>
        </li>
        {% endif %}
        {% if rollout.rollback_start_dt %}
        <li>
        <a href="{{ url_for('log_view', rollout_id=rollout.id, args='rollback') }}">Rollback log</a>
        </li>
        {% endif %}
    </ul>
    {% if rollout.root_task %}
        <h3>Tasks</h3>
        <p style="display: none;">
            {{ rollout.config }}
        </p>
        <div id="tasks">
            {{ rollout.root_task.friendly_html()|safe }}
        </div>
    {% endif %}
{% endblock %}
